.section {
  padding: 4rem 1rem;
  background-color: white;
}

.title {
  color: #145233;
  font-size: 2.5rem;
  font-weight: 700;
}

.icon {
  color: #145233;
  flex-shrink: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;
}

.link:hover {
  color: #145233;
}

.formContainer {
  background-color: #fcfbf0;
  padding: 2rem;
  border-radius: 8px;
  border: 2px solid #e2e1cf;
}

@media (max-width: 768px) {
  .section {
    padding: 3rem 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .formContainer {
    padding: 1.5rem;
  }
}
